.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0px;
  background: linear-gradient(to right, pink, white);
  &__left {
    // width: 80px;
    //height: 80px;
  }

  &__right {
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    &__home {
      margin: 8px;
    }
    &__products {
      margin: 8px;
    }
    &__cart {
      margin: 8px;
    }
  }
}
